<div class="container">
  <h1>All your swimming pools booking requests</h1>


  <% @reservations.each do |reservation| %>
    <div class="card-trip">
      <%= cl_image_tag reservation.swimming_pool.photo.key, crop: :fill %>
      <div class="card-trip-infos">
        <div>
            <h2><%= reservation.user.first_name.capitalize %> <%= reservation.user.last_name.capitalize %></h2>
            <p><strong><%= reservation.swimming_pool.name %></strong></p>
            <p>Starting: <strong><%= reservation.starting_date %></strong></p>
            <p>Ending: <strong><%= reservation.ending_date %></strong></p>
            <p>Status: <strong><%= reservation.status %></strong></p>
            <% if reservation.status == "pending" %>
            <%= link_to "Accept", accept_owner_reservation_path(reservation), class: "btn btn-success" %>
            <%= link_to "Decline", decline_owner_reservation_path(reservation), class: "btn btn-danger" %>
            <% else %>
              <%= reservation.status %>
            <% end %>
        </div>
        <h2 class="card-trip-pricing">€<%= reservation.total_price %></h2>
        <%= cl_image_tag reservation.user.avatar.key, crop: :fill, class: "card-trip-user avatar-bordered" %>

      </div>
    </div>
<% end %>
      <%= link_to 'Back to Swimming Pools', swimming_pools_path, class: "btn btn-small btn-primary" %>
      <%= link_to 'Add a Swimming Pool', new_swimming_pool_path, class: "btn btn-small btn-primary" %>
</div>

<!-- Si le statut est pending alors afficher les boutons accept et decline
sinon modifier le statut vers accept ou vers decline en fonction
créer boutton vert pour statut accept + path
créer boutton rouge pour statut decline + path -->

