<div class="container ">
  <h1>Swimming Pools</h1>

  <div class="card-deck">
    <% @swimming_pools.each do |swimming_pool| %>
        <div class="card pool-card">
          <%= image_tag "pool.jpg", alt: "pool", class: "card-img-top pool-image" %>
          <div class="card-body pool-body">
            <%= link_to "#{swimming_pool.name}", swimming_pool_path(swimming_pool), class: "pool-name card-title" %>
            <p class="card-text pool-owner"><%= swimming_pool.user.first_name %></p>
            <p class="card-text pool-address"><%= swimming_pool.location %></p>
          </div>
        </div>
    <% end %>
  </div>
  <br>
  <br>

  <div id="map"
       style="width: 75%; height: 600px; margin:0px auto;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
