<div class="container-reservation-new">
  <div class="banner banner-show" style="background-image: linear-gradient(rgba(24,24,24,0.9),rgba(0,0,0,0.4)), url(<%= cl_image_path @swimming_pool.photo.key, crop: :fill %>);">
      <div class="container">
        <h1><%= @swimming_pool.name %></h1>
        <p><%= @swimming_pool.location %></p>
        <%= link_to 'Book now!', new_swimming_pool_reservation_path(@swimming_pool), class: "btn btn-flat-blue" %>
      </div>
  </div>

  <div class="container">
    <strong>Address:</strong>
      <p class="inset"><%= @swimming_pool.location %></p>
      <strong>Description:</strong>
      <p class="inset"><%= @swimming_pool.description %></p>
      <strong>Price:</strong>
      <p class="inset"><%= @swimming_pool.price_per_day %></p>
      <%= link_to 'Back to the list', swimming_pools_path, class: "btn btn-flat-green" %>
  </div>
</div>
