<div class="container">
  <h1>All your bookings</h1>


  <% @reservations.each do |reservation| %>
    <div class="card-trip">
      <%= cl_image_tag reservation.swimming_pool.photo.key, crop: :fill %>
      <div class="card-trip-infos">
        <div>
            <h2><%= reservation.user.first_name.capitalize %> <%= reservation.user.last_name.capitalize %></h2>
            <p><strong><%= reservation.swimming_pool.name %></strong></p>
            <p>Starting: <strong><%= reservation.starting_date %></strong></p>
            <p>Ending: <strong><%= reservation.ending_date %></strong></p>
            <p>Status: <strong><%= reservation.status %></strong></p>
        </div>
        <h2 class="card-trip-pricing">€<%= reservation.total_price %></h2>
        <%= cl_image_tag reservation.user.avatar.key, crop: :fill, class: "card-trip-user avatar-bordered" %>

      </div>
    </div>
<% end %>
      <%= link_to 'Back to the list', swimming_pools_path, class: "btn btn-flat-blue" %>
</div>
